<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDamodLmE3urznTLn_fBWMuoIzPqbR1M2o</string>
	<key>GCM_SENDER_ID</key>
	<string>1004752001258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testpjt</string>
	<key>PROJECT_ID</key>
	<string>biomaj-pro</string>
	<key>STORAGE_BUCKET</key>
	<string>biomaj-pro.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004752001258:ios:ada9de6fa801b143a8df93</string>
</dict>
</plist>